body {
    font-family: "Fredoka", sans-serif;
}
h1,h2,h3,h4 {font-weight: 600;}
h5 {
    font-size: 1rem;
    font-weight: 500;
}
 
.logo--marsh {
    font-style: italic;
    color: #942d95;
}

.item {
    display: flex;
    background-color: #ffedfb;
    margin: 1rem 0;
}
.item img {
    height: 10rem;
    margin: 1rem 1rem;
    border: solid black 0.1rem;
}
.item--vert {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0rem;
}
.item h3,h4,h5 {
    margin:0;
}
.price {
    color: green;
}
.priceOld {
    color: red;
    text-decoration: line-through;
}
.specOffer {
    color: red;
}

.purchaseBtn {
    background-color: green;
    color: white;
    max-width: 3rem;
    padding: 0.5rem;
    text-align: center;
}
.purchaseBtn:hover {
    background-color: black;
}